In [3]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

# Caminho para o arquivo JSON de credenciais
path_to_credentials = 'sheets.json'

# Escopos necessários
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# Autenticar usando o arquivo de credenciais
creds = ServiceAccountCredentials.from_json_keyfile_name(path_to_credentials, scope)
client = gspread.authorize(creds)

# Nome da sua planilha
spreadsheet_name = 'Relatório de visitas escolares por RA - 2024'

# Abrir a planilha
sheet = client.open(spreadsheet_name).sheet1  # ou use .get_worksheet(0) para a primeira folha

# Converter para DataFrame
data = sheet.get_all_values()
df = pd.DataFrame(data[1:], columns=data[0])

# Mostrar os primeiros registros do DataFrame
df

,Relatório de visitas escolares por Região Administrativa,,,,
0,Janeiro a 18 de março 2024,,,,
1,DF,Localização,Qnt. Escolas,Qnt. Visitas,Total de alunos
2,RA I,PLANO PILOTO,10,7,524
3,RA II,GAMA,1,1,76
4,RA III,TAGUATINGA,1,1,63
5,RA IV,BRAZLANDIA,1,1,86
6,RA V,SOBRADINHO,1,1,30
7,RA VI,PLANALTINA,1,1,45
8,RA VII,PARANOÁ,1,2,114
9,RA VIII,BANDEIRANTE,,,
10,RA IX,CEILÂNDIA,3,3,145
11,RA X,GUARÁ,1,2,68
12,RA XI,CRUZEIRO,,,
13,RA XII,SAMAMBAIA,5,5,341
14,RA XIII,SANTA MARIA,,,
15,RA XIV,SÃO SEBASTIÃO,,,
16,RA XV,RECANTO DAS EMAS,2,3,179
17,RA XVI,LAGO SUL,2,2,57
18,RA XVII,RIACHO FUNDO 1,1,2,118
19,RA XVIII,LAGO NORTE,,,
20,RA XIX,CANDANGOLÂNDIA,,,
21,RA XX,ÁGUAS CLARAS,,,
22,RA XXI,RIACHO FUNDO 2,,,
23,RA XXII,SUDOESTE,,,
24,RA XXIII,VARJÃO,,,
25,RA XXIV,PARK WAY,,,
26,RA XXV,ESTRUTURAL,,,
27,RA XXVI,SOBRADINHO II,,,
28,RA XXVII,JARDIM BOTÂNICO,,,
29,RA XXVIII,ITAPOÃ,,,
30,RA XXIX,SETOR DE INDUSTRIAS,,,
31,RA XXX,VICENTE PIRES,,,
32,RA XXXI,FERCAL,,,
33,RA XXXII,SOL NASCENTE,,,
34,RA XXXIII,ARNIQUEIRAS,,,
35,RA XXXIV,ARAPONGA,,,
36,RA XXXV,ÁGUA QUENTE,,,
37,,TOTAL,30,31,1.846
38,,,,,
39,,,,,
40,,Outros Estados,Qnt. Escolas,Qnt. Visitas,Total de alunos
41,,BAHIA,,,
42,,GOIAS,9,9,398
43,,MINAS,,,
44,,PARANÁ,1,1,17
45,,SÃO PAULO,1,1,30
46,,TOTAL,11,11,445

In [9]:
sheet2 = client.open(spreadsheet_name).get_worksheet(1)

# Converter para DataFrame
data = sheet.get_all_values()
df2 = pd.DataFrame(data[1:], columns=data[0])

# Mostrar os primeiros registros do DataFrame
df2

AttributeError: 'Spreadsheet' object has no attribute 'sheet0'